*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: calc(1em + 0.5rem);
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    /* stylelint-disable-next-line value-keyword-case */
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    min-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    overflow-wrap: break-word;
}

p {
    hyphens: auto;
    text-wrap: pretty;
    overflow-wrap: break-word;
}

#root {
    isolation: isolate;
}
