---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="homepage" description="" />
  </head>

  <body>
    <Header />
    <article>Hello World!</article>
    <Footer />
  </body></html
>
