---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav class="testing">
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
  <hr />
</header>
